.card-body {
    padding-top: 50px !important;
}

.form-row {
    margin-bottom: 15px;
}

.form-header {
    font-size: 24px;
    line-height: 1.5;
}

.form-title {
    font-size: 13px;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 700;
}

.form-subheader {
    font-weight: 700;
}

.input-value{
    font-weight: 600 !important;
}

body {
    font-family: Helvetica, serif !important;
}

.page__container{
    padding-bottom: 10rem;
}

.organisation-tick{
    color: gray !important;
    padding-top: 5px !important;
}

[dir=ltr] .card, [dir=ltr] .card-group {
    margin-bottom: 5px;
}

.table-header {
    background-color: #f6f6f6;
}

.table-header th {
    font-weight: 900;
    font-size: 18px;
}
.remove-list:hover{
    color: blue !important;
}
